[build-system]  # блок для сборки и установки проекта по стандарту PEP 518
requires = ['poetry-core==2.2.0']  # зависимость для сборки проекта, не для работы приложения
build-backend = 'poetry.core.masonry.api'  # стандартный бекенд poetry

[tool.poetry]
package-mode = true  # нужна ли нам сборка пакета?
packages = [{ include = 'project_name', from = 'src' }]  # поддержка src-layout

[project]
name = 'ProjectName'
version = '1.0.0'
description = 'Короткое описание проекта'
authors = [
    { name = 'Name Surname', email = 'email@example.com' },
]
readme = 'README.md'

requires-python = '==3.10.*'
dependencies = [
    'pydantic==2.12.4',
    'requests==2.32.5',
    'fastapi==0.121.2',
]

[dependency-groups]
test = ['pytest==9.0.1']
dev = [
    'mypy==1.18.2',  # статическая проверка типов
    'ruff==0.14.0',  # линтер для проверки стиля и ошибок кода
    'pre-commit==4.4.0',  # фреймворк для проверок перед коммитом
    'black==25.11.0',  # автоформаттер кода по PEP8
    'isort==7.0.0'  # автоупорядочивание импортов
]

# Инструменты - все конфигурируются из одного файла
# Настройки pytest
[tool.pytest.ini_options]
testpaths = ['tests']
addopts = '--strict-markers --tb=short'

# Настройки mypy
[tool.mypy]
strict = true
warn_unused_configs = true

# Настройки ruff
[tool.ruff]
line-length = 88
select = ['E', 'F', 'W', 'C', 'B', 'I', 'Q']
ignore = ['E203', 'W503']

# Настройки black
[tool.black]
line-length = 88
target-version = ['py311']
